<ul class="breadcrumb">
  <ng-container *ngIf="selectedCursoData.length === 0; else breadcrumbConCurso">
    <li class="breadcrumb-item"><a href="/inicio">Inicio</a></li>
    <li class="breadcrumb-item active">
      <a href="/ver_mi_progreso">Mi Progreso</a>
    </li>
  </ng-container>

  <ng-template #breadcrumbConCurso>
    <li class="breadcrumb-item"><a href="/inicio">Inicio</a></li>
    <li class="breadcrumb-item active">
      <a href="/ver_mi_progreso">Mi Progreso</a>
    </li>
    <li class="breadcrumb-item active">{{nombreCurso}}</li>
  </ng-template>
</ul>

<div *ngIf="selectedCursoData.length === 0">
  <h1>No hay progreso en este curso :(</h1>
</div>

<div *ngIf="selectedCursoData.length > 0">
  <h1 class="page-header">Progreso en el curso: {{nombreCurso}}</h1>
  <div class="row">
    <div class="col-12">
      <div id="apexChartColumnChart" class="mb-5">
        <panel title="Panel Success" headerClass="bg-blue-700">
          <apx-chart
            [series]="chartOptions[0].series"
            [chart]="chartOptions[0].chart"
            [colors]="chartOptions[0].colors"
            [legend]="chartOptions[0].legend"
            [xaxis]="chartOptions[0].xaxis"
            [yaxis]="chartOptions[0].yaxis"
            [dataLabels]="chartOptions[0].dataLabels"
            [grid]="chartOptions[0].grid"
            [stroke]="chartOptions[0].stroke"
            [title]="chartOptions[0].title"
            [plotOptions]="chartOptions[0].plotOptions"
            [fill]="chartOptions[0].fill"
            [tooltip]="chartOptions[0].tooltip"
          ></apx-chart>
        </panel>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="row">
          <div
            class="col-xl-4 col-lg-6 col-md-12 mb-4"
            *ngFor="let data of selectedCursoData"
          >
            <div class="stats-box">
              <h3>{{ data.faseId }}</h3>
              <p><strong>Tiempo en la fase:</strong> {{ data.totalTime }}</p>
              <p><strong>Respuestas correctas:</strong> {{ data.correctas }}</p>
              <p>
                <strong>Respuestas incorrectas:</strong> {{ data.incorrectas }}
              </p>
              <p><strong>Nota:</strong> {{ data.nota }}</p>

              <table class="table">
                <thead>
                  <tr>
                    <th>Pregunta 1</th>
                    <th>Pregunta 2</th>
                    <th>Pregunta 3</th>
                    <th>Pregunta 4</th>
                    <th>Pregunta 5</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      <i
                        [ngClass]="data.pregunta1 ? 'fa fa-check' : 'fa fa-times'"
                      ></i>
                    </td>
                    <td>
                      <i
                        [ngClass]="data.pregunta2 ? 'fa fa-check' : 'fa fa-times'"
                      ></i>
                    </td>
                    <td>
                      <i
                        [ngClass]="data.pregunta3 ? 'fa fa-check' : 'fa fa-times'"
                      ></i>
                    </td>
                    <td>
                      <i
                        [ngClass]="data.pregunta4 ? 'fa fa-check' : 'fa fa-times'"
                      ></i>
                    </td>
                    <td>
                      <i
                        [ngClass]="data.pregunta5 ? 'fa fa-check' : 'fa fa-times'"
                      ></i>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
