.card-body {
    border-radius: 15px;
}


.btn-light-blue {
    background-color: #155391;
    color: white;
    border: none;
}

.btn-light-blue:hover {
    background-color: #2a547e;
    color: white;
}

.card {
    max-height: 200px;
    width: 100%;
    background-color: #003a6c;
    color: white;
  }
  
  .card .p-3 {
    padding: 1rem !important;
  }
  
  .card .display-6 {
    font-size: 1.75rem;
  }
  
  .card .fs-6 {
    font-size: 0.875rem;
  }
  
  .card img {
    max-height: 250px;
    width: auto;
  }